<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>930734545076-bq923jojlfil6imtspfvbg7huogo2s6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930734545076-bq923jojlfil6imtspfvbg7huogo2s6l</string>
	<key>API_KEY</key>
	<string>AIzaSyAw_CG_khUPAIZ84GXcXUx1KyjZhwR0UpM</string>
	<key>GCM_SENDER_ID</key>
	<string>930734545076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rajeshpalkar.imin</string>
	<key>PROJECT_ID</key>
	<string>imin-f4d8c</string>
	<key>STORAGE_BUCKET</key>
	<string>imin-f4d8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930734545076:ios:62d4efa258bf7a40</string>
	<key>DATABASE_URL</key>
	<string>https://imin-f4d8c.firebaseio.com</string>
</dict>
</plist>